# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Terraform plan
*.tfplan

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store